/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset meyerweb  */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    line-height: 1.65;
    padding-bottom: 1000px;
    overflow-x: hidden;
}

.layout {
    background-color: black;
}
/* Nav Bar */
nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    justify-content: space-between;
    /* padding: 20px 0; */
    height: 50px;
    color: rgb(255, 254, 251);
    align-items: center;
    /* opacity: 50%; */
}

nav .logo {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    display: flex;

}

nav .logo img {
    height: 20px;
    width: 20px;
    float: left;
    margin: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: rgb(255, 235, 175);
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a img {
    height: 12px;
    width: 12px;
}

nav ul li a:hover {
    color: rgb(255, 244, 211);
}

/* Theme */
.container-theme .theme {
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 10px;
    float: left;
}

.container-theme .theme .kotak {
    height: 180px;
    width: 180px;
}

.container-theme .theme .kotak {
    background-color: none;
    float: left;
    justify-content: space-around;
    margin: 5px auto;
    width: 236px;
}

.container-theme .theme .kotak .kotak1 {
    width: 150px;
    height: 150px;
    background-color: salmon;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    margin: 2px;
}

.container-theme .theme .kotak .kotak2 {
    background-color: yellow;
    width: 150px;
    height: 150px;
}

.container-theme .theme .kotak .kotak3 {
    background-color: aqua;
    width: 150px;
    height: 150px;
}
/* Theme */


/* Walpaper */
.container-walpaper .walpaper {
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 10px;
    float: left;
}

.container-walpaper .walpaper .kotak img {
    height: 180px;
    width: 180px;
}

.container-walpaper .walpaper .kotak {
    background-color: none;
    float: left;
    justify-content: space-around;
    margin: 5px auto;
    width: 236px;
}
/* Walpaper */



/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }